*{
    z-index:unset;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-color: lightgrey;
    color: black;


}

h1{
    color:dodgerblue;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 5%;
    font-size:35px;    
}

#description{
    text-align: center;
    margin-bottom: 10%;
    margin-top: -10%;
    font-style: italic;

 
}

.prv{
    width: 80%;
    margin: auto;
    color: black;
    padding: 15px;
}

#anketa-forma{
    text-align: center;

}


.rowtab{
    display: block;
    padding-bottom: 10px;
    padding-right: 20%;
    

}
.labeltab{
    display: inline-block;
    width:45%;
    text-align: right;
    vertical-align: top;
    padding: 2px;
    
    
}

.inputtab{
    display: inline-block;
    width:44%;
    text-align:left;
    padding: 5px;
}

.selecttab{
    display: inline-block;
    width: 54%;
    text-align: left;
    padding: 5px;
}
.abc{
    text-align: center;
}



